/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Base styles */

body {
  font-family: 'Manrope', sans-serif;
  background-color: #1c2225;
  color: #fcf9f9;
}

section {
  position: relative;
  padding-bottom: 80px;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: -0.03em;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.accented {
  color: #ecd979;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* header */

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 375px;
  padding: 0 20px;
  margin: 20px auto 60px auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  min-width: 44px;
  min-height: 39px;
  margin-right: 87px;
}

.header-social-list {
  display: flex;
  gap: 12px;
  margin-right: 12px;
}

.header-social-item {
  padding: 4px 0;
}

.header-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(252, 249, 249, 0.1);
  padding: 8px;
  opacity: 0.8;
  fill: rgba(252, 249, 249, 1);
}

.header-burger-menu-btn {
  background-color: transparent;
  border: none;
  line-height: 0;
  padding: 0;
  stroke: rgba(236, 217, 121, 1);
}

/* hero styles */

.hero-btn-link {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 155px;
  padding: 14px 36px;
  margin: 20px auto 40px 70px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  fill: #ecd979;
}

/* about styles */

.about-text-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.text-main {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}

.about-img {
  width: 100%;
}

.about-bg-element {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 18px;
}

/* collection styles */

.center {
  text-align: center;
}

.collection-cart-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.collection-cart-item {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.collection-cart-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  margin: 18px 0 8px 0;
}

.collection-cart-text {
  color: rgba(252, 249, 249, 0.4);
}

.collection-bg-element {
  position: absolute;
  z-index: -1;
  top: 298px;
  left: 0;
}

/* order styles */

.order-bg-img {
  background-image: url(/img/order/bg-girl-order-mob.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-height: 550px;
  max-width: 375px;
  margin-bottom: 80px;
}

@media (min-resolution: 192dpi), screen and (min-resolution: 2ddpx), screen and (min-device-pixel-ratio: 2) {
  .order-bg-img {
    background-image: url(/img/order/bg-girl-order-mob@2x.jpg);
  }
}
.order-form-input {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: #fcf9f9;
  padding: 14px 16px;
  margin-bottom: 20px;
}

.order-form-textaria {
  width: 100%;
  height: 196px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: #fcf9f9;
  padding: 14px 16px;
  resize: none;
  margin-bottom: 40px;
}

.order-form-input::placeholder,
.order-form-textaria::placeholder {
  color: rgba(252, 249, 249, 0.5);
}

.order-form-btn {
  display: flex;
  min-width: 145px;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  margin-left: auto;
  margin-right: auto;
}

.header-bth-icon {
  width: 27px;
  height: 21px;
  fill: #ecd979;
}

.order-foto-element,
.order-bg-element {
  display: none;
}

/* testimonials styles */

.testimonials-cart-item {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0px 18px 18px 18px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin-top: 24px;
}

.testimonials-cart-item:nth-child(2),
.testimonials-cart-item:nth-child(3) {
  display: none;
}

.testimonials-cart-foto {
  position: absolute;
  transform: translateX(-50%);
  top: -24px;
  left: 50%;
}

.testimonials-cart-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 54px;
  margin-bottom: 8px;
}

/* footer styles */

.footer-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 375px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 25px;
  max-height: 62px;
}

.footer-menu-link {
  display: block;
}
.footer-menu-item {
  max-width: 124px;
}

.footer-slogan {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.23; /* 122.727% */
  letter-spacing: -0.03em;
  margin-top: 40px;
  padding-bottom: 292px;
}

.footer-bg-element {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* modal windows */

.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 249, 249, 0.1);

  /* for not visibily */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity, visibility 250ms linear;
}

.modal-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger-menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 274px;
  height: 812px;
  background-color: #ecd979;
  color: #1c2225;
}

.burger-menu-row {
  min-width: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 20px 20px 0 20px;
}

.burger-menu-adress {
  min-width: 160px;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  text-transform: uppercase;
  padding: 12px 20px;
}

.burger-menu-close-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
}

.burger-menu-close-icon {
  width: 36px;
  height: 36px;
  stroke: rgba(28, 34, 37, 1);
}

.burger-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding-right: 20px;
}

.burger-menu-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
}

/* media styles */

@media screen and (max-width: 767px) {
  .hero-section-decoration {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .header-menu-list,
  .header-menu-adress {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding-bottom: 100px;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  h1 {
    font-size: 54px;
    line-height: 1.19;
  }

  h2 {
    font-size: 44px;
    line-height: 1.45;
  }

  /* header */

  .header-wrap {
    max-width: 768px;
    padding: 0 32px;
    margin: 20px auto 106px auto;
  }

  .logo-link {
    margin-right: 440px;
  }

  .header-social-list {
    margin-right: 20px;
  }

  .header-burger-menu-btn-icon {
    width: 44px;
    height: 30px;
  }

  /* hero styles */

  .hero-title {
    max-width: 540px;
  }

  .hero-btn-link {
    max-width: 168px;
    padding: 14px 39px;
    margin: 40px auto 40px 141px;
    font-size: 16px;
  }

  .hero-img-main {
    width: 413px;
    height: 575px;
  }

  .hero-section-decoration {
    position: absolute;
    right: 32px;
    bottom: -12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 679px;
  }

  .hero-decor-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    max-width: 115px;
    fill: #ecd979;
    color: rgba(252, 249, 249, 0.4);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.04em;
  }

  /* about styles */

  .about-text-wrap {
    margin-bottom: 40px;
  }

  .text-main {
    font-size: 16px;
  }

  .about-bg-element {
    bottom: 50px;
  }

  /* collection styles */

  .center {
    text-align: center;
  }

  .collection-cart-list {
    column-gap: 20px;
  }

  .collection-cart-item {
    width: calc((100% - 20px) / 2);
    font-size: 18px;
  }

  .collection-bg-element {
    left: 0;
  }

  /* oreder styles */

  .order-bg-img {
    background-image: url(/img/order/bg-girl-order-tab.jpg);
    max-width: 768px;
    min-height: 776px;
    margin-bottom: 100px;
  }

  @media (min-resolution: 192dpi), screen and (min-resolution: 2ddpx), screen and (min-device-pixel-ratio: 2) {
    .order-bg-img {
      background-image: url(/img/order/bg-girl-order-tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-bottom: 150px;
  }

  .container {
    max-width: 1280px;
    padding: 0 100px;
  }

  /* oreder styles */

  .order-bg-img {
    background-image: url(/img/order/bg-girl-order-desk.jpg);
    max-width: 1282px;
    margin-bottom: 150px;
  }

  @media (min-resolution: 192dpi), screen and (min-resolution: 2ddpx), screen and (min-device-pixel-ratio: 2) {
    .order-bg-img {
      background-image: url(/img/order/bg-girl-order-desk@2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  h1 {
    font-size: 64px;
    line-height: 1.16;
  }

  /* oreder styles */

  .order-bg-img {
    background-image: url(/img/order/bg-girl-order-desk-xl.jpg);
    max-width: 1440px;
  }

  @media (min-resolution: 192dpi), screen and (min-resolution: 2ddpx), screen and (min-device-pixel-ratio: 2) {
    .order-bg-img {
      background-image: url(/img/order/bg-girl-order-desk-xl@2x.jpg);
    }
  }
}
